﻿@page
@model MeetMe.Web.Pages.Account.EditModel
@{ ViewData["Title"] = RS["Edit Account"]; }

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>@RS["Email"] </label>
                <input asp-for="EditedUser.Email" class="form-control" />
            </div>
            <div class="form-group">
                @if (Model.EditedUser.Role == Core.Models.User.RoleType.ServiceProvider)
                {
                    <label>@RS["Business Name"]</label>
                }
                else
                {
                    <label>@RS["Name"]</label>
                }
                <input asp-for="EditedUser.Name" class="form-control" />
            </div>
            <div class="form-group">
                @if (Model.EditedUser.Role == Core.Models.User.RoleType.ServiceProvider)
                {
                    <label>@RS["Business Phone"]</label>
                }
                else
                {                    
                    <label>@RS["Phone"]</label>
                }
                <input asp-for="EditedUser.Phone" class="form-control" />
            </div>

            @if (Model.ShowApprovedStatus)
            {
                <div class="form-group">
                    <label>@RS["Account Status"]</label>
                    <p>
                        <span class="badge">@RS[Model.ApprovedStatus]</span>
                    </p>
                </div>
            }

            @if (Model.IsAdmin)
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="EditedUser.IsApproved" type="checkbox">
                            @RS["Approved"]
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="EditedUser.IsActive" type="checkbox">
                            @RS["Active"]
                        </label>
                    </div>
                </div>
            }

            <input type="hidden" asp-for="EditedUserId" />
            <input type="submit" class="btn btn-primary pull-right" value="@RS["Save Changes"]" asp-page-handler="UpdateUser"  />
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="post" class="form-horizontal">
            <h4>@RS["Change Password"]</h4>
            <div class="form-group">
                <label>@RS["Password"] </label>
                <input asp-for="ChangePassword.Password" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label>@RS["Confirm Password"]</label>
                <input asp-for="ChangePassword.ConfirmPassword" class="form-control" type="password" />
            </div>

            <input type="hidden" asp-for="EditedUserId" />
            <input type="submit" class="btn btn-warning pull-right" value="@RS["Change Password"]" asp-page-handler="ChangePassword" />
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
