﻿@page
@model MeetMe.Web.Pages.Account.LoginModel
@{ ViewData["Title"] = RS["Login"]; }
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <form method="post" class="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>@RS["Email"]</label>
                <input asp-for="LoginData.Email" class="form-control" type="email" />
            </div>
            <div class="form-group">
                <label>@RS["Password"]</label>
                <input asp-for="LoginData.Password" class="form-control" />
            </div>
            <div class="checkbox">
                <label>
                    <input asp-for="LoginData.RememberMe" type="checkbox" />
                    @RS["Remember me"]
                </label>
            </div>
            <input class="btn btn-primary" type="submit" value="@RS["Login"]" />
            <a class="help-block" asp-page="@Routes.Register">@RS["Register"]</a>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
