﻿@page
@model MeetMe.Web.Pages.Account.RegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ ViewData["Title"] = RS["Register"]; }
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label>@RS["Email"]</label>
                <input class="form-control" type="email" asp-for="RegisterForm.Email" />
            </div>
            <div class="form-group">
                <label>@RS["Password"]</label>
                <input class="form-control" type="password" asp-for="RegisterForm.Password" />
            </div>
            <div class="form-group">
                <label>@RS["Confirm Password"]</label>
                <input class="form-control" type="password" asp-for="RegisterForm.ConfirmPassword" />
            </div>
            <div class="checkbox">
                <label>
                    <input id="isServiceProviderCheckBox" asp-for="RegisterForm.IsServiceProvider" />
                    @RS["Service Provider"]
                </label>
            </div>
            <div class="form-group">
                <label id="nameLabel">@RS["Name"]</label>
                <input class="form-control" asp-for="RegisterForm.Name" />
            </div>
            <div class="form-group">
                <label id="phoneLabel">@RS["Phone"]</label>
                <input class="form-control" asp-for="RegisterForm.Phone" />
            </div>
            <input class="btn btn-primary" type="submit" value="@RS["Register"]" />
            <a class="help-block" asp-page="@Routes.Login">@RS["Login"]</a>
        </form>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    function decodeText(s) { // needed for unicode
        u = s.split(';').map(l => l.replace('&#x', '\\u0')).join('');
        return JSON.parse('"' + u + '"');
    }

    function updateInputText(inputSelector, text) {
        $(inputSelector).text(decodeText(text));
    }

    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            $('#isServiceProviderCheckBox').change(function (e) {
                if (e.target.checked) {
                    updateInputText('#nameLabel', '@RS["Business Name"]');
                    updateInputText('#phoneLabel', '@RS["Business Phone"]');
                } else {
                    updateInputText('#nameLabel', '@RS["Name"]');
                    updateInputText('#phoneLabel', '@RS["Phone"]');
                }
            });
        });
    });
</script>
}