﻿@page "{meetingId:int}"
@model MeetMe.Web.Pages.Meetings.InvoiceModel
@{ ViewData["Title"] = RS["Invoice"]; }

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <h3>@Model.Meeting.ProvidedService.ServiceProvider.Name</h3>
            <h6>@Model.Meeting.ProvidedService.ServiceProvider.Email</h6>
            <h6>@Model.Meeting.ProvidedService.ServiceProvider.Phone</h6>
            <hr />
        </div>

        <div class="row">
            <h4>@RS["For Customer"] :</h4>
            <h5>@Model.Meeting.Customer.Name</h5>
            <h6>@Model.Meeting.Customer.Email</h6>
            <h6>@Model.Meeting.Customer.Phone</h6>
            <hr/>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>@RS["Service"]</th>
                        <th>@RS["Date"]</th>
                        <th>@RS["Price"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Meeting.ProvidedService.ServiceName</td>
                        <td>@Model.Meeting.ScheduledTime.ToShortDateString() @Model.Meeting.ScheduledTime.ToShortTimeString()</td>
                        <td>@Model.Meeting.ProvidedService.PricePerMeeting @RS["$"]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="pull-right">
                <h4>@RS["Total"]</h4>
                <h5>@Model.Meeting.ProvidedService.PricePerMeeting @RS["$"]</h5>
            </div>
        </div>
    </div>
</div>