﻿@page
@model MeetMe.Web.Pages.Meetings.MyScheduleModel
@using MeetMe.Core.Models
@{
    ViewData["Title"] = RS["My Schedule"];
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            @foreach (var day in Model.Days)
            {
                <th>@RS[@day.DayOfWeek.ToString()]<br /> @day.ToShortDateString()</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var hour in Model.SlotsByHours)
        {
            <tr>
                <td>@hour.Item1</td>
                @foreach (var slot in @hour.Item2)
                {
                    if (slot.Meetings.Count == 0)
                    {
                        <td></td>
                    } else
                    {
                        <td class="active">
                            <ul>
                                @foreach (Meeting meeting in slot.Meetings)
                                {
                                <li>
                                    @meeting.ProvidedService.ServiceName
                                    @if (Model.ShowCustomerNames)
                                    {
                                        <span> - @meeting.Customer.Name</span>
                                    }
                                    @switch (meeting.Status)
                                    {
                                        case Meeting.MeetingStatus.Cancelled:
                                            <i>(@RS["Cancelled"])</i>
                                            break;
                                        case Meeting.MeetingStatus.Scheduled:
                                            <i>(@RS["Not Approved"])</i>
                                            break;
                                        case Meeting.MeetingStatus.Paid:
                                            <i>(@RS["Paid"])</i>
                                            break;
                                    }
                                </li>
                                }
                                </ul>
                        </td>
                    }
                                            }
            </tr>
        }
    </tbody>
</table>


