﻿@page
@using MeetMe.Web.Utilities
@using MeetMe.Core.Models
@model MeetMe.Web.Pages.Customers.AddMeetingModel
@{ ViewData["Title"] = Model.ProvidedService.ServiceName + " - " + RS["Add Meeting"]; }

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.ProvidedService.ServiceName</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-2">
                    <img src="@Model.ProvidedService.ImageSrc" class="media-object" width="150" />
                </div>
                <div class="col-md-5">
                    <label>@Model.ProvidedService.ServiceType.Name</label><br />
                    <label>@Model.ProvidedService.City.Name</label><br />
                    <span class="badge">@Model.ProvidedService.PricePerMeeting @RS["$"]</span>
                </div>
                <div class="col-md-5">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <label>@Model.ProvidedService.ServiceProvider.Name</label><br />
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    <label>@Model.ProvidedService.ServiceProvider.Phone</label><br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    @foreach (var day in Model.Days)
                    {
                        <th>@RS[@day.DayOfWeek.ToString()]<br /> @day.ToShortDateString()</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var hour in Model.SlotsByHours)
                {
                    <tr>
                        <td>@hour.Item1</td>
                        @foreach (var slot in @hour.Item2)
                        {
                            @switch (slot.Status)
                            {
                                case ScheduleSlot.ScheduleStatus.Closed:
                                    <td class="warning"></td>
                                    break;
                                case ScheduleSlot.ScheduleStatus.ServiceIsBusy:
                                    <td class="active">@RS["Busy"]</td>
                                    break;
                                case ScheduleSlot.ScheduleStatus.CustomerIsBusy:
                                    <td class="info">
                                        @slot.Meetings[0].ProvidedService.ServiceName
                                    </td>
                                    break;
                                case ScheduleSlot.ScheduleStatus.Available:
                                    <td>
                                        <a asp-page="@Routes.CustomersConfirmMeeting"
                                           asp-route-serviceId="@Model.ProvidedService.ProvidedServiceId"
                                           asp-route-day="@slot.Day.ToShortDateString()"
                                           asp-route-hour="@slot.Hour">
                                            @RS["Schedule"]
                                        </a>
                                    </td>
                                    break;
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>