﻿@page "{meetingId:int}"
@model MeetMe.Web.Pages.Customers.CancelMeetingModel
@{ ViewData["Title"] = RS["Cancel Meeting"]; }

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>
            @RS["Cancel meeting for"] 
            <b>@Model.Meeting.ProvidedService.ServiceName</b> 
            @RS["at"] 
            <b>@Model.Meeting.ScheduledTime.ToShortDateString() @Model.Meeting.ScheduledTime.ToShortTimeString()</b> 
            ?
        </h3>
        <form method="post" class="pull-right">
            <input class="btn btn-warning" type="submit" value="@RS["Cancel Meeting"]" />
            <a class="btn btn-default" asp-page="@Routes.CustomersMyMeetings">@RS["Don't cancel"]</a>
            @Html.AntiForgeryToken()
        </form>

    </div>
</div>

