﻿@page
@model MeetMe.Web.Pages.Customers.ConfirmMeetingModel
@{ ViewData["Title"] = RS["Confim Meeting"]; }

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>
            <span>@RS["Schedule meeting for"]</span>
            <b>@Model.ProvidedService.ServiceName</b>
            <span>@RS["at"]</span>
            <b>@Model.MeetingDate @Model.MeetingHour</b>
            ?
        </h3>

        <form class="pull-right" method="post">
            <input class="btn btn-primary" type="submit" value="@RS["Add Meeting"]" />            
            <a class="btn btn-default" asp-page="@Routes.CustomersAddMeeting"
               asp-route-serviceId="@Model.ProvidedService.ProvidedServiceId">@RS["Cancel"]</a>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

