﻿@page
@model MeetMe.Web.Pages.Customers.FindServiceModel
@{ ViewData["Title"] = RS["Find a Service"]; }

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            @await Component.InvokeAsync("ServiceTypeDropdown", new { targetKey = "ServiceDetails.ServiceTypeId" })
            @await Component.InvokeAsync("CityDropdown", new { targetKey = "ServiceDetails.CityId" })

            <div class="form-group">
                <label>@RS["Maximum Price per meeting"]</label>
                <input class="form-control" asp-for="ServiceDetails.MaxPricePerMeeting" /><br />
            </div>

            @await Component.InvokeAsync("DayAndHourDropdown", new { daysTargetKey = "ServiceDetails.Days", hoursTargetKey = "ServiceDetails.Hours"  })

            <input class="btn btn-primary" type="submit" value="@RS["Search"]" />

            @Html.AntiForgeryToken()
        </form>
    </div>
</div>