﻿@page
@model MeetMe.Web.Pages.Customers.MyMeetingsModel
@using Core.Models
@{ ViewData["Title"] = RS["My Meetings"]; }

<div class="row">
    <div class="col-md-12">
        <h2>@RS["Future Meetings"]</h2>
        @if (Model.FutureMeetings.Count == 0)
        {
            <h4>@RS["No Meetings"]</h4>
        }
        else
        {
            @foreach (var meeting in Model.FutureMeetings)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @meeting.ProvidedService.ServiceName                                                                      
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-2">
                                    <img src="@meeting.ProvidedService.ImageSrc" class="media-object" width="150" />
                                </div>
                                <div class="col-md-5">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <label>@meeting.ProvidedService.ServiceProvider.Name</label>
                                    <br />
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <label>@meeting.ProvidedService.ServiceProvider.Phone</label>
                                    <br />
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <label>@meeting.ScheduledTime.ToShortDateString() @meeting.ScheduledTime.ToShortTimeString()</label>
                                    <br />
                                    <span class="badge">@meeting.ProvidedService.PricePerMeeting @RS["$"]</span>
                                </div>
                                <div class="col-md-5">
                                    @if (meeting.Status != Meeting.MeetingStatus.Cancelled)
                                    {
                                        <a class="btn btn-default"
                                           asp-page="@Routes.CustomersCancelMeeting" asp-route-meetingId="@meeting.MeetingId">@RS["Cancel"]</a>
                                    }
                                    <br />
                                    @switch (meeting.Status)
                                    {
                                        case (Meeting.MeetingStatus.Scheduled):
                                            <span class="label label-warning">@RS["Not approved yet"]</span>
                                            break;
                                        case (Meeting.MeetingStatus.Cancelled):
                                            <span class="label label-danger">@RS["Meeting cancelled"]</span>
                                            break;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
@if (Model.UnpaidMeetings.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <h2>@RS["Unpaid Meetings"]</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>@RS["Service Name"]</th>
                        <th>@RS["Service Provider Name"]</th>
                        <th>@RS["Phone"]</th>
                        <th>@RS["Day"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var meeting in Model.UnpaidMeetings)
                    {
                        <tr>
                            <td>@meeting.ProvidedService.ServiceName</td>
                            <td>@meeting.ProvidedService.ServiceProvider.Name</td>
                            <td>@meeting.ProvidedService.ServiceProvider.Phone</td>
                            <td>@meeting.ScheduledTime.ToShortDateString() @meeting.ScheduledTime.ToShortTimeString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


@if (Model.PaidMeetings.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <h2>@RS["Paid Meetings"]</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>@RS["Service Name"]</th>
                        <th>@RS["Service Provider Name"]</th>                
                        <th>@RS["Day"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var meeting in Model.PaidMeetings)
                    {
                        <tr>
                            <td>@meeting.ProvidedService.ServiceName</td>
                            <td>@meeting.ProvidedService.ServiceProvider.Name</td>                    
                            <td>@meeting.ScheduledTime.ToShortDateString() @meeting.ScheduledTime.ToShortTimeString()</td>
                            <td>
                                <a asp-page="@Routes.MeetingsInvoice" asp-route-meetingId="@meeting.MeetingId">@RS["Invoice"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}