﻿@page
@model MeetMe.Web.Pages.Customers.SearchResultsModel
@using  MeetMe.Web.Utilities
@{ ViewData["Title"] = RS["Search Results"]; }

<div class="row">
    <div class="col-md-12">

    @if (Model.SearchResults.Count > 0)
    {
        @foreach (var service in Model.SearchResults)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@service.ServiceProvider.Name - @service.ServiceName</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-2">
                                <img src="@service.ImageSrc" class="media-object" width="150" />
                            </div>
                            <div class="col-md-5">
                                <label>@service.ServiceType.Name</label><br/>
                                <label>@service.City.Name</label><br />
                                <span class="badge">@service.PricePerMeeting @RS["$"]</span>
                            </div>
                            <div class="col-md-5">
                                <a class="btn btn-primary" asp-page="@Routes.CustomersAddMeeting" 
                                    asp-route-serviceId="@service.ProvidedServiceId">@RS["Add Meeting"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h4>@RS["No services found"]</h4>
            <a asp-page="@Routes.CustomersFindService">@RS["Find a Service"]</a>
        </div>
    }
    </div>
</div>
