﻿@model Dropdown

<div class="form-group">
    <label>@RS[Model.Title]</label>

    @if(Model.IsMultiple) {
    <select for="@Model.TargetKey.Replace(".", "_")" name="@Model.TargetKey" class="form-control" multiple size="7">
        @foreach (var option in Model.Options)
        {
            @if (Model.PreselectedOptions.Contains(option.Item1))
            {
                <option value="@option.Item1" selected> @RS[option.Item2]</option>
            }
            else
            {
                <option value="@option.Item1"> @RS[option.Item2]</option>
            }
        }
    </select>
    } else {
    <select for="@Model.TargetKey.Replace(".", "_")" name="@Model.TargetKey" class="form-control">
        <option value="">-- @RS["Select " + Model.Title] --</option>
        @foreach (var option in Model.Options)
        {
            @if (Model.PreselectedOptions.Contains(option.Item1))
            {
                <option value="@option.Item1" selected> @RS[option.Item2]</option>
            }
            else
            {
                <option value="@option.Item1"> @RS[option.Item2]</option>
            }
        }
    </select>
    }
</div>
