﻿@page
@model MeetMe.Web.Pages.Admin.CitiesModel
@{
    ViewData["Title"] = RS["Cities"];
}

<h3>@RS["Add City"]</h3>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>@RS["City Name"]</label>
        <input type="text" class="form-control" asp-for="NewCityName" />
    </div>
    <button type="submit" class="btn btn-default">@RS["Add City"]</button>
    @Html.AntiForgeryToken()
</form>

<h3>@RS["Existing Cities"]</h3>
<ul class="list-group">
    @foreach (var city in Model.Cities)
    {
        <li class="list-group-item">
            @city.Name
        </li>
    }
</ul>

