﻿@page
@model MeetMe.Web.Pages.Admin.ServiceTypesModel
@{ ViewData["Title"] = RS["Service Types"]; }

<h3>@RS["Add Service Type"]</h3>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="serviceTypeName">@RS["Service Type"]</label>
        <input id="serviceTypeName" type="text" class="form-control" asp-for="NewServiceTypeName" />
    </div>
    <button type="submit" class="btn btn-default">@RS["Add Service Type"]</button>
    @Html.AntiForgeryToken()
</form>

<h3>@RS["Existing Service Types"]</h3>
<ul class="list-group">
    @foreach(var serviceType in Model.ServiceTypes)
    {
        <li class="list-group-item">
            @serviceType.Name
        </li>
    }
</ul>

