﻿@page
@model MeetMe.Web.Pages.Admin.UserActivityReportModel
@{ ViewData["Title"] = RS["User Activity Report"]; }

<div class="row">
    <div class="col-md-12">
        <form method="get" class="form-inline">
            <div class="form-group">
                <label>@RS["Year"]</label>
                <select class="form-control" asp-for="Year" asp-items="Model.YearOptions"></select>
            </div>
            <div class="form-group">
                <label>@RS["Month"]</label>
                <select class="form-control" asp-for="Month" asp-items="Model.MonthOptions"></select>
            </div>
            <input class="btn btn-info" type="submit" value="@RS["Refresh"]" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>@RS["Date"]</th>
                    <th>@RS["User Id"]</th>
                    <th>@RS["Email"]</th>
                    <th>@RS["Action"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.UserActivities)
                {
                    <tr>
                        <td>@activity.ActivityTime</td>
                        <td>@activity.UserId</td>
                        <td>@activity.User.Email</td>
                        <td>@activity.Action</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>