﻿@page
@model MeetMe.Web.Pages.Admin.UsersModel
@using MeetMe.Core.Models
@{ ViewData["Title"] = RS["Users"]; }

@if(Model.Users.Count == 0)
{
    <h2>@RS["No Users found"]</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>@RS["Email"]</td>
                <td>@RS["Role"]</td>
                <td>@RS["Name"]</td>
                <td>@RS["Phone"]</td>                                
                <td>@RS["Status"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach(User user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@RS[user.Role.ToString()]</td>
                    <td>@user.Name</td>
                    <td>@user.Phone</td>
                    <td>@RS[!user.IsActive ? "Not Active" :
                                user.Role == Core.Models.User.RoleType.ServiceProvider && !user.IsApproved ? "Not Approved" :
                                    "Active"]
                    </td>
                    <td>
                        <a asp-page="@Routes.EditAccount" asp-route-userId="@user.UserId">@RS["Edit"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}