﻿@page
@model MeetMe.Web.Pages.Providers.AddServiceModel
@{ ViewData["Title"] = RS["Add a service"]; }

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>@RS["Service Name"]</label>
                <input class="form-control" asp-for="ProvidedService.ServiceName" />
            </div>

            @await Component.InvokeAsync("ServiceTypeDropdown", new { targetKey = "ProvidedService.ServiceTypeId" })
            @await Component.InvokeAsync("CityDropdown", new { targetKey = "ProvidedService.CityId" })

            <div class="form-group">
                <label>@RS["Price (per meeting)"]</label>
                <input class="form-control" asp-for="ProvidedService.PricePerMeeting" /><br />
            </div>

            @await Component.InvokeAsync("DayAndHourDropdown", new { daysTargetKey = "ProvidedService.Days", hoursTargetKey = "ProvidedService.Hours" })

            <div class="form-group">
                <label>@RS["Service Image"]</label>
                <br />
                <img id="serviceImg" class="img-rounded" src="@Model.ProvidedService.ImageSrc" width="150" />
                <br />
                <label for="serviceImageFile" class="btn btn-link btn-xs">@RS["Upload Image"]</label>
                <input id="serviceImageFile" type="file" asp-for="ImageFileUpload" style="visibility:hidden;" />
            </div>

            <input class="btn btn-primary" type="submit" value="@RS["Add Service"]" />
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function loadFileInputToImage(input, imgSelector) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(imgSelector).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            $(document).ready(function () {
                $('#serviceImageFile').change(function () {                    
                    loadFileInputToImage(this, '#serviceImg');
                });

            });
        });
    </script>
}

