﻿@page "{serviceId:int}"
@model MeetMe.Web.Pages.Providers.DeleteServiceModel
@{ ViewData["Title"] = RS["Delete Service"]; }


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>
            <span>@RS["Really delete service"] </span>
            <b>@Model.ProvidedService.ServiceName</b>
            <span> ?</span>
        </h3>
        <br />
        <i>@RS["Scheduled meetings will not be deleted"]</i>

        <form class="pull-right" method="post" asp-route-serviceId="@Model.ProvidedService.ProvidedServiceId">
            <input class="btn btn-primary" type="submit" value="@RS["Delete Service"]" />
            <a class="btn btn-default" asp-page="@Routes.ProvidersMyServices">@RS["Cancel"]</a>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>

