﻿@page
@model MeetMe.Web.Pages.Providers.MyServicesModel
@{ ViewData["Title"] = RS["My Services"]; }

<div class="row">
    <a asp-page="@Routes.ProvidersAddService">+ @RS["Add a service"]</a><br/>
    @if (Model.MyServices.Count > 0)
    {
        @foreach (var service in Model.MyServices)
        {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@service.ServiceName</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        <img src="@service.ImageSrc" class="media-object" width="150" />
                    </div>
                    <div class="col-md-5">                        
                        @if (!service.IsActive)
                        {
                            <h4><i> (@RS["Inactive service"])</i></h4>
                        }
                        else
                        {
                            <a asp-page="@Routes.ProvidersEditService" asp-route-serviceId="@service.ProvidedServiceId">@RS["Edit Service"]</a><br />
                            <a asp-page="@Routes.ProvidersDeleteService" asp-route-serviceId="@service.ProvidedServiceId">@RS["Delete Service"]</a><br />
                        }
                    </div>
                    <div class="col-md-5">
                        @if (service.HasMeetings)
                        {

                            @if (service.NewMeetingsCount > 0)
                            {
                                <span class="badge">@service.NewMeetingsCount</span>
                                @RS["New Meetings"]
                                <br />
                            }
                            @if (service.ApprovedMeetingsCount > 0)
                            {
                                <span class="badge">@service.ApprovedMeetingsCount</span>
                                @RS["Approved Meetings"]
                                <br />
                            }
                            @if (service.UnpaidMeetingsCount > 0)
                            {
                                <span class="badge">@service.UnpaidMeetingsCount</span>
                                @RS["Unpaid Meetings"]
                                <br />
                            }


                            <a asp-page="@Routes.ProvidersServiceMeetings" asp-route-serviceId="@service.ProvidedServiceId">@RS["View Meetings"]</a>
                        }
                        else
                        {
                            <i>@RS["No meetings"]</i>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
    }
    else
    {
        <h4>@RS["No Services"]</h4>
    }

</div>