﻿@page "{serviceId:int}"
@model MeetMe.Web.Pages.Providers.ServiceMeetingsModel
@using MeetMe.Core.Models
@{ ViewData["Title"] = Model.ServiceName + " - " + RS["Meetings"]; }


<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default pull-right"
            asp-page="@Routes.ProvidersMonthlyMeetingReport" asp-route-serviceId="@Model.ServiceId" asp-route-year="@DateTime.Now.Year" asp-route-month="@DateTime.Now.Month" >
            @RS["Monthly Meeting Report"]
        </a>

        @foreach(var meetingCategory in Model.MeetingsByCategory)
        {
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>@RS[meetingCategory.Item1]</h2>
                    @if (meetingCategory.Item2.Count == 0)
                    {
                        <h4>@RS["No Meetings"]</h4>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@RS["Day"]</th>
                                    <th>@RS["Hour"]</th>
                                    <th>@RS["Customer"]</th>
                                    <th>@RS["Phone"]</th>
                                    <th>@RS["Actions"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var meeting in meetingCategory.Item2)
                                {
                                    <tr>
                                        <td>@meeting.ScheduledTime.ToShortDateString()</td>
                                        <td>@meeting.ScheduledTime.ToShortTimeString()</td>
                                        <td>@meeting.Customer.Name</td>
                                        <td>@meeting.Customer.Phone</td>
                                        <td>
                                            @switch (meeting.Status)
                                            {
                                                case (Meeting.MeetingStatus.Scheduled):
                                                    <a asp-page="@Routes.ProvidersUpdateMeeting" asp-route-meetingId="@meeting.MeetingId" asp-route-status="@Meeting.MeetingStatus.Approved">@RS["Approve"]</a>
                                                    <span>/</span>
                                                    <a asp-page="@Routes.ProvidersUpdateMeeting" asp-route-meetingId="@meeting.MeetingId" asp-route-status="@Meeting.MeetingStatus.Cancelled">@RS["Decline"]</a>
                                                    break;
                                                case (Meeting.MeetingStatus.Approved):
                                                    <a asp-page="@Routes.ProvidersUpdateMeeting" asp-route-meetingId="@meeting.MeetingId" asp-route-status="@Meeting.MeetingStatus.Cancelled">@RS["Cancel"]</a>
                                                    <span>/</span>
                                                    <a asp-page="@Routes.ProvidersUpdateMeeting" asp-route-meetingId="@meeting.MeetingId" asp-route-status="@Meeting.MeetingStatus.Paid">@RS["Mark as paid"]</a>
                                                    break;
                                                case (Meeting.MeetingStatus.Paid):
                                                    <a asp-page="@Routes.MeetingsInvoice" asp-route-meetingId="@meeting.MeetingId">@RS["Invoice"]</a>
                                                    break;
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>
        }   
    </div>
</div>

