﻿@model DayAndHourDropdown

<div class="row">
    <div class="col-md-6">
        @await Component.InvokeAsync("Dropdown", new { dropdown = Model.DayDropdown })
    </div>
    <div class="col-md-6">
        @await Component.InvokeAsync("Dropdown", new { dropdown = Model.HourDropdown })
    </div>
</div>
