﻿@page
@model MeetMe.Web.Pages.Providers.Reports.MonthlyMeetingReportModel
@using MeetMe.Core.Models
@{ ViewData["Title"] = Model.ProvidedService.ServiceName + " - " + RS["Monthly Meeting Report"]; }

<div class="row">
    <div class="col-md-12">
            <form method="get" class="form-inline">
                <div class="form-group">
                    <label>@RS["Year"]</label>
                    <select class="form-control" asp-for="Year" asp-items="Model.YearOptions"></select>
                </div>
                <div class="form-group">
                    <label>@RS["Month"]</label>
                    <select class="form-control" asp-for="Month" asp-items="Model.MonthOptions"></select>
                </div>
                <input type="hidden" name="serviceId" value="@Model.ProvidedService.ProvidedServiceId" />
                <input class="btn btn-info" type="submit" value="@RS["Refresh"]" />
            </form>
    <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <span>@RS["Start Date"] : </span><b>@Model.Report.ReportStart</b>
        <br />
        <span>@RS["End Date"] : </span><b>@Model.Report.ReportEnd</b>
        <br />
        <span>@RS["Total Meetings"] : </span><b>@Model.Report.TotalMeetingCount</b>
    </div>
    <div class="col-md-6">
        <span>@RS["Total Revenue"] : </span><b>@Model.Report.TotalRevenue @RS["$"]</b>
        <br />
        <span>@RS["Actual Revenue"] : </span><b>@Model.Report.ActualRevenue @RS["$"]</b>
        <br />
        <span>@RS["Unique Customers"] : </span><b>@Model.Report.UniqueCustomerCount</b>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (KeyValuePair<Meeting.MeetingStatus, List<Meeting>> status in Model.Report.MeetingsByStatus)
        {
            <hr />
            <h4>@RS[status.Key.ToString() + " Meetings"] :</h4>
            <b>@status.Value.Count</b><span> @RS["Meetings"]</span>
            <table class="table">
                <thead>
                    <tr>
                        <th>@RS["Day"]</th>
                        <th>@RS["Hour"]</th>
                        <th>@RS["Customer"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Meeting meeting in status.Value)
                    {
                        <tr>
                            <td>@meeting.ScheduledTime.ToShortDateString()</td>
                            <td>@meeting.ScheduledTime.ToShortTimeString()</td>
                            <td>@meeting.Customer.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

