﻿@page
@model ErrorModel
@{ ViewData["Title"] = RS["Error"]; }

<h2>@RS["We're sorry"]</h2>
<h4 class="text-danger">@RS["An error occurred while processing your request."]</h4>
<h5>
    @RS["Please try"] 
    <a href="/">@RS["Reloading the site"]</a>
</h5>

