﻿@using System.Security.Claims
@model AppHeaderViewModel
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">
                <img alt="MeetMe" src="~/images/logo.png" style="max-height: 25px;">
            </a>            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <button class="navbar-btn btn-link btn-xs dropdown-toggle" style="background-color:transparent; color:darkgray;"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="languageSelector"></span>
                        <span class="caret"></span>
                    </button>                    
                    <ul class="dropdown-menu">
                        <li><a id="useEnglish" href="#">English</a></li>
                        <li><a id="useHebrew" href="#">עברית</a></li>
                    </ul>
                </li>

                @if (Model.IsUserSignedIn)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.Email <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var menuItem in Model.MenuItems)
                            {
                                <li><a asp-page="@menuItem.Item1">@RS[menuItem.Item2]</a></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li><a asp-page="@Routes.EditAccount">@RS["Account details"]</a></li>
                            <li><a asp-page="@Routes.Logout">@RS["Logout"]</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li><a asp-page="@Routes.Register">@RS["Register"]</a></li>
                    <li><a asp-page="@Routes.Login">@RS["Login"]</a></li>
                }
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var CULTURE_COOKIE_NAME = '.AspNetCore.Culture';
        var HEBREW_CULTURE = 'he-IL';
        var HEBREW_INDICATOR = 'עבר';
        var ENGLISH_INDICATOR = 'EN';
        var ENGLISH_CULTURE = 'en-US';

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function setCookie(culture) {
            newCookieValue = 'c=' + culture + '|uic=' + culture;
            document.cookie = CULTURE_COOKIE_NAME + "=" + newCookieValue  + "; path=/";
        }

        $(document).ready(function () {            
            var cultureCookie = getCookie(CULTURE_COOKIE_NAME);
            var languageIndicator = ENGLISH_INDICATOR;

            if (cultureCookie)
            {
                if (cultureCookie.indexOf(ENGLISH_CULTURE) > 0) languageIndicator = ENGLISH_INDICATOR;
                else if (cultureCookie.indexOf(HEBREW_CULTURE) > 0) languageIndicator = HEBREW_INDICATOR;
            }

            $('#languageSelector').text(languageIndicator);

            $('#useHebrew').click(function (e) {
                setCookie(HEBREW_CULTURE);
                location.reload(true);
            });

            $('#useEnglish').click(function (e) {
                setCookie(ENGLISH_CULTURE);
                location.reload(true);
            });
        });
    });
</script>
